{% extends "food/base.html" %}

{% load static %}

{% block content %}
<body class="bg-color">

    <!-- Header section start -->
    {% include "food/navbar.html" %}
    <!-- Header Section end -->

    <!-- page head section starts -->
    <section class="page-head-section">
        <div class="container page-heading">
            <h1 class="h3 mb-3 text-white text-center">{{ seo.h1 }}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
                    <li class="breadcrumb-item">
                        <a href="/"><i class="ri-home-line"></i>Главная</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ seo.h1 }}
                    </li>
                </ol>
            </nav>
        </div>
    </section>
    <!-- page head section end -->

    <!-- foods section starts -->
    <section class="section-b-space">
        <div class="container">
            <div class="accordion-body">
                <ul class="filter-item-list">
                    {% for food in foods %}
                    <li>
                        <a href="/{{ city.slug }}/{{ food.slug }}/">{{ food.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <!-- foods section ends -->

    <!-- popular restaurant section starts -->
    <section class="restaurant-list section-b-space ratio3_2">
        <div class="container">
            <div class="title restaurant-title pb-0 w-border">
                <h2>Рестораны</h2>
            </div>
            <div class="tab-content restaurant-content" id="TabContent">
                <div class="tab-pane fade show active" id="delivery-tab">
                    <div class="row g-lg-4 g-3">
                        {% for restoraunt in restoraunts_obj %}
                            {% include "food/restoraunt-item.html" with restoraunt=restoraunt %}
                        {% endfor %}
                    </div>
                </div>

                <nav class="custom-pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if restoraunts_obj.has_previous %}{% else %}disabled{% endif %}">
                            <a class="page-link" href="?page={% if restoraunts_obj.has_previous %}{{ restoraunts_obj.previous_page_number }}{% endif %}" tabindex="-1">
                                <i class="ri-arrow-left-s-line"></i>
                            </a>
                        </li>

                        {% if restoraunts_obj.has_previous %}
                            {% if restoraunts_obj.previous_page_number > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">1</a>
                                </li>
                            {% endif %}

                            <li class="page-item">
                                <a class="page-link" href="?page={{ restoraunts_obj.previous_page_number }}">{{ restoraunts_obj.previous_page_number }}</a>
                            </li>
                        {% endif %}

                        <li class="page-item active">
                            <a class="page-link" href="?page={{ restoraunts_obj.number }}">{{ restoraunts_obj.number }}</a>
                        </li>

                        {% if restoraunts_obj.has_next %}
                            {% if restoraunts_obj.next_page_number < restoraunts_obj.paginator.num_pages %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ restoraunts_obj.next_page_number }}">{{ restoraunts_obj.next_page_number }}</a>
                                </li>
                            {% endif %}

                            <li class="page-item">
                                <a class="page-link" href="?page={{ restoraunts_obj.paginator.num_pages }}">{{ restoraunts_obj.paginator.num_pages }}</a>
                            </li>
                        {% endif %}

                        <li class="page-item {% if restoraunts_obj.has_next %}{% else %}disabled{% endif %}">
                            <a class="page-link" href="?page={% if restoraunts_obj.has_next %}{{ restoraunts_obj.next_page_number }}{% endif %}">
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- popular restaurant section end -->

    <!-- shops section starts -->
    <section class="restaurant-list section-b-space ratio3_2">
        <div class="container">
            <div class="title restaurant-title pb-0 w-border">
                <h2>Список магазинов с доставкой в {{ city.genitive_case }}</h2>
            </div>
            <div class="tab-content restaurant-content" id="TabContent">
                <div class="tab-pane fade show active" id="delivery-tab">
                    <div class="row g-lg-4 g-3">
                        {% for shop in shops %}
                            {% include "food/shop-item.html" with shop=shop %}
                        {% endfor %}
                    </div>
                </div>

                <!--<nav class="custom-pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if shops_obj.has_previous %}{% else %}disabled{% endif %}">
                            <a class="page-link" href="?page={% if shops_obj.has_previous %}{{ shops_obj.previous_page_number }}{% endif %}" tabindex="-1">
                                <i class="ri-arrow-left-s-line"></i>
                            </a>
                        </li>

                        {% if shops_obj.has_previous %}
                            {% if shops_obj.previous_page_number > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">1</a>
                                </li>
                            {% endif %}

                            <li class="page-item">
                                <a class="page-link" href="?page={{ shops_obj.previous_page_number }}">{{ shops_obj.previous_page_number }}</a>
                            </li>
                        {% endif %}

                        <li class="page-item active">
                            <a class="page-link" href="?page={{ shops_obj.number }}">{{ shops_obj.number }}</a>
                        </li>

                        {% if shops_obj.has_next %}
                            {% if shops_obj.next_page_number < shops_obj.paginator.num_pages %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ shops_obj.next_page_number }}">{{ shops_obj.next_page_number }}</a>
                                </li>
                            {% endif %}

                            <li class="page-item">
                                <a class="page-link" href="?page={{ shops_obj.paginator.num_pages }}">{{ shops_obj.paginator.num_pages }}</a>
                            </li>
                        {% endif %}

                        <li class="page-item {% if shops_obj.has_next %}{% else %}disabled{% endif %}">
                            <a class="page-link" href="?page={% if shops_obj.has_next %}{{ shops_obj.next_page_number }}{% endif %}">
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </li>
                    </ul>
                </nav>-->
            </div>
        </div>
    </section>
    <!-- shops section end -->

    <!-- footer section starts -->
    {% include "food/components/footer.html" %}
    <!-- footer section end -->

    
    <!-- theme btn start -->
    <div class="theme-btns">
        <button type="button" class="btntheme mode-change-button">
            <i id="themeIcon" class="ri-moon-line icon mode-icon"></i>
            <span class="text-value">Тёмная тема</span>
        </button>
    </div>
    <!-- theme btn end -->

    <!-- tap to top start -->
    <button class="scroll scroll-to-top">
        <i class="ri-arrow-up-s-line arrow"></i>
    </button>
    <!-- tap to top end -->

    <!-- responsive space -->
    <div class="responsive-space"></div>
    <!-- responsive space -->

    <!-- bootstrap js -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <!-- footer accordion js -->
    <script src="/assets/js/footer-accordion.js"></script>

    <!-- script js -->
    <script src="/assets/js/script.js"></script>
</body>

{% endblock %}
