{% extends "food/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'food/css/city_food.css' %}" />
{% endblock %}

{% block content%}
<div class="l-main__box">
    <main class="l-main__main">
        <article class="l-article"><header class="l-article__section">
            <h1 class="l-article__h1">Стейки доставка еды в {{ city.genitive_case }}</h1>
            <p class="l-article__h-text">Полный список ресторанов и кафе, где можно заказать быструю доставку {{ food.genitive }} в {{ city.genitive }}. Сравните разные заведения по рейтингу и ценовой категории. В нашем меню представлены блюда всех кухонь мира: русская, итальянская, французская, японская, китайская и многие другие. Чтобы заказать еду, выберите понравившиеся блюда из меню в каталоге и оформите заказ онлайн через сервис Яндекс Еда. У Яндекса действует доставка в любое время дня и ночи, поэтому вы можете вкусно пообедать или поужинать, даже если находитесь в офисе.</p>
            <p class="l-article__h-text">
            </p>
            <p class="l-article__h-text">
            {% for food in foods %}
                <a href="/{{ city.slug }}/{{ food.slug }}/" class="l-article__btn l-article__btn--small" title="{{ food.title }}">{{ food.name }}</a>
            {% endfor %}
            </p>
            </header>
            <div class="l-article__two">
            <div class="l-article__two-item">
            <section class="l-article__section">
            <h2 class="l-article__h2">Список кафе и ресторанов в Москве</h2>
            <ul class="c-list-cards">
                {% for restoraunt in restoraunts %}
                <li class="c-list-cards__item">
                    <a href="/{{ city.slug }}/place/{{ restoraunt.slug }}/" class="c-list-cards__link">
                        <div class="c-list-cards__img" style="background-image: url('{{ restoraunt.image }}');"></div>
                            <div>
                                <div class="c-list-cards__header">
                                    <h3>{{ restoraunt.name }}</h3>
                                </div>
                                <div class="c-list-cards__line c-list-cards__line--gray">
                                    <small style="font-size:12px;">{{ restoraunt.adress }}</small>
                                </div>
                                <div class="c-list-cards__line c-list-cards__line--gray price-range">
                                <small><span class="option_place">Ценовая категория: </span><b style="vertical-align: middle;">{{ restoraunt.price_category }} ₽₽₽</b> </small>
                            </div>

                            <div class="c-list-cards__line c-list-cards__line--gray">
                                <small><span class="option_place">Минимальный заказ: </span><b style="vertical-align: middle;"> {{ restoraunt.min_order }} ₽</b> </small>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>

            </section>

            <div class="l-article__two-item l-article__two-item--small">
            </div>
            </div>
        </article>
    </main>
</div>
{% endblock %}