<div id="item-1">
    <div class="product-details-box">
        <div class="product-img">
            {% if dish.image == "/nofoto.png" %}
            <div class="image-container img-fluid img" >
                <img src="/assets/images/logo/favicon.png" alt="{{ restoraunt.name }}">
            </div>
            {% else %}
            <img class="img-fluid img"
                src="{{ dish.image }}" alt="{{ dish.name }}">
            {% endif %}
        </div>
        <div class="product-content">
            <div
                class="description d-flex align-items-center justify-content-between">
                <div>
                    <div class="d-flex align-items-center gap-2">
                        <img class="img-fluid"
                            src="/assets/images/svg/veg.svg"
                            alt="non-veg">
                        <h6 class="product-name">
                            {{ dish.name }}
                        </h6>
                    </div>
                    <p>
                        {{ dish.weight }}
                    </p>
                </div>
                <div class="product-box-price">
                    <h2 class="theme-color fw-semibold">
                        {{ dish.price }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
