{% extends "food/base.html" %}

{% load static %}

{% block content %}
<body class="position-relative">
    <!-- Header section start -->
    {% include "food/navbar.html" %}
    <!-- Header Section end -->

    <!-- home section start -->
    <section id="home" class="home-wrapper home2 section-b-space">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <h1>{{ seo.h1 }}</h1>
                    <div class="search-section">
                        <form class="auth-form search-head" target="_blank">
                            <div class="form-group" style="position: relative;">
                                <div class="form-input mb-0">
                                    <input oninput="searchRestoraunts(event)" onchange="searchRestoraunts(event)" type="search" class="form-control search" id="inputusername"
                                        placeholder="Найти ресторан">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                                <ul class="hints"></ul>
                            </div>
                        </form>
                        <a class="btn theme-btn mt-0" href="#" role="button">Поиск</a>
                    </div>
                </div>
                <div class="col-lg-5 position-relative">
                    <img src="assets/images/home-vector.png" class="img-fluid right-vector" alt="right-vector">
                </div>
            </div>
        </div>

         <!-- categories section starts -->
         <div class="categories-section" style="width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    bottom: -60px;">
            <img src="assets/images/popcorn.png" class="img-fluid popcorn-img" alt="">
            <div class="container">
                <div class="position-relative category-top">
                    <div class="swiper categories-no-arrow categories-style">
                        <div class="swiper-wrapper" style="height: auto;">
                            {% for city in block_cities %}
                                <div class="swiper-slide">
                                    <a href="{{ city.slug }}/" class="food-categories">
                                        <p class="dark-text">{{ city.name }}</p>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- categories section end -->
    </section>
    <!-- home section end -->

    <div class="button-container">
        {% for button in buttons %}
        {% include "food/components/link-button.html" with button=button %}
        {% endfor %}
    </div>

    <style>
        .button-container{
            margin-top: 70px;
            text-align: center;
            position: relative;
        }
        
        .sticky {
            margin-top: 0 !important;
            position: fixed;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
        }
    </style>

    <!-- cities section start -->
    <section class="section-b-space overflow-hidden" style="padding-top: calc((50 * (100vw - 320px) / 1600) * 2); padding-bottom: 0;">
        <div class="container index-main-text">
            {{ seo.text|safe }}
        </div>
    </section>

    <section class="section-b-space overflow-hidden">
        <div class="container">
            <div class="accordion-body">
                <ul class="filter-item-list" style="justify-content: center;">
                    {% for city in cities %}
                        <li style="width: 30%;"><a href="{{ city.slug }}/">{{ city.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <!-- cities section end -->

    <!-- Featured Restaurants section starts -->
    <section class="restaurant-list section-b-space banner-section ratio3_2">
        <div class="container">
            <div class="title restaurant-title w-border pb-0">
                <h2>Рестораны</h2>
                <div class="loader-line"></div>
                <ul class="nav nav-pills restaurant-tab tab-style2 w-100 border-0 m-0" id="Tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pill-delivery-tab" data-bs-toggle="pill"
                            data-bs-target="#delivery-tab">
                            Быстрая доставка
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pill-rating-tab" data-bs-toggle="pill"
                            data-bs-target="#rating-tab">
                            Рейтинг
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pill-veg-tab" data-bs-toggle="pill" data-bs-target="#veg-tab">
                            Овощи
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pill-cost-tab" data-bs-toggle="pill" data-bs-target="#cost-tab">
                            Стоимость
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content restaurant-content" id="TabContent">
                <div class="tab-pane fade show active" id="delivery-tab">
                    <div class="row g-lg-4 g-3">
                        {% for restoraunt in restoraunts %}
                            {% include "food/restoraunt-item.html" with restoraunt=restoraunt %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="rating-tab">
                    <div class="row g-lg-4 g-3">
                        {% for restoraunt in restoraunts %}
                            {% include "food/restoraunt-item.html" with restoraunt=restoraunt %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="veg-tab">
                    <div class="row g-lg-4 g-3">
                        {% for restoraunt in restoraunts %}
                            {% include "food/restoraunt-item.html" with restoraunt=restoraunt %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="cost-tab">
                    <div class="row g-lg-4 g-3">
                        {% for restoraunt in restoraunts %}
                            {% include "food/restoraunt-item.html" with restoraunt=restoraunt %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- featured Restaurants section end -->

    <!-- brand section starts -->
    <section class="brand-section">
        <img class="img-fluid item-4" src="assets/images/svg/item4.svg" alt="item-4">
        <div class="container">
            <div class="title">
                <h2>Магазины</h2>
                <div class="loader-line"></div>
            </div>
            <div class="theme-arrow">
                <div class="swiper brands-logo">
                    <div class="swiper-wrapper" style="height: auto;">
                        {% for shop in shops %}
                        <div class="swiper-slide">
                            <div class="brand-box">
                                <a href="/{{ shop.city.slug }}/place-market/{{ shop.slug }}/" class="food-brands">
                                    <img class="img-fluid brand-img" src="{{ shop.shop.image }}" alt="{{ shop.name }}">
                                </a>
                                <a href="/{{ shop.city.slug }}/place-market/{{ shop.slug }}/">
                                    <p>{{ shop.name }}</p>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="swiper-button-next brand-next"></div>
                <div class="swiper-button-prev brand-prev"></div>
            </div>
        </div>
    </section>
    <!-- brand section end -->

    <!-- popular restaurant section starts -->
    <section class="popular-restaurant section-b-space ratio3_2 overflow-hidden">
        <img class="img-fluid item-5" src="assets/images/svg/item5.svg" alt="item-5">
        <div class="container">
            <div class="title">
                <h2>Популярные рестораны</h2>
                <div class="loader-line"></div>
                <div class="sub-title">
                    <p>Найдите близлежащие популярные рестораны.</p>
                </div>
            </div>
            <div class="row g-4">
                {% for restoraunt in popular_restoraunts %}
                    {% include "food/restoraunt-item.html" with restoraunt=restoraunt%}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- popular restaurant section end -->

    <!-- footer section start -->
    {% include "food/components/footer.html" %}
    <!-- footer section end -->

    <!-- mobile fix menu start -->
    <!--
    <div class="mobile-menu d-md-none d-block mobile-cart">
        <ul>
            <li class="active">
                <a href="index.html" class="menu-box">
                    <i class="ri-home-4-line"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="mobile-category">
                <a href="#!" class="menu-box">
                    <i class="ri-apps-line"></i>
                    <span>Category</span>
                </a>
            </li>
            <li>
                <a href="wishlist.html" class="menu-box">
                    <i class="ri-heart-3-line"></i>
                    <span>Wishlist</span>
                </a>
            </li>
            <li>
                <a href="checkout.html" class="menu-box">
                    <i class="ri-shopping-cart-2-line"></i>
                    <span>Cart</span>
                </a>
            </li>
        </ul>
    </div>
    -->
    <!-- mobile fix menu end -->

    <!-- theme btn start -->
    <div class="theme-btns">
        <button type="button" class="btntheme mode-change-button">
            <i id="themeIcon" class="ri-moon-line icon mode-icon"></i>
            <span class="text-value">Тёмная тема</span>
        </button>
    </div>
    <!-- theme btn end -->

    <!-- tap to top start -->
    <button class="scroll scroll-to-top">
        <i class="ri-arrow-up-s-line arrow"></i>
    </button>
    <!-- tap to top end -->

    <!-- bootstrap js -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <!-- footer accordion js -->
    <script src="/assets/js/footer-accordion.js"></script>

    <!-- loader js -->
    <script src="/assets/js/loader.js"></script>

    <!-- swiper js -->
    <script src="/assets/js/swiper-bundle.min.js"></script>
    <script src="/assets/js/custom-swiper.js"></script>

    <!-- script js -->
    <script src="/assets/js/script.js"></script>
    <script src="{% static 'food/js/index-page.js' %}"></script>
    <script src="{% static 'food/js/restoraunt-page.js' %}"></script>
</body>

</html>

{% endblock %}