{% load static %}

<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg p-0">
            <a href="/" style="align-items: center;
    display: flex;
    gap: 15px;">
                <img class="img-fluid logo" src="{% static 'food/images/logo.png' %}" alt="logo">
                <p style="color: white;
    font-style: italic;
    font-weight: 800;
    font-size: calc(20px + 6*(100vw - 320px) / 1600);">eda-dostavka.com</p>
            </a>
            <!--<a target="_blank" href="#!" data-bs-toggle="modal" data-bs-target="#location"
                class="btn btn-sm theme-btn location-btn mt-0 ms-3 d-flex align-content-center gap-1">
                <i class="ri-map-pin-line"></i> Location
            </a>
            <div class="nav-option order-md-2">
                <div class="dropdown-button">
                </div>
            </div>-->
        </nav>
    </div>
</header>
