{% extends "food/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'food/css/restoraunt.css' %}">
{% endblock %}

{% block content %}
<body class="bg-color position-relative">

    <!-- Header section start -->
    {% include "food/navbar.html" %}
    <!-- Header Section end -->

    <!-- banner section starts -->
    <section class="product-banner-section">
        <div class="container">
            <div class="restaurant-box">
                <div class="restaurant-image">
                    <img class="img-fluid img" src="{{ restoraunt.image_link }}" alt="{{ restoraunt.name }}">
                </div>
                <div class="restaurant-details">
                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                        <div>
                            <h1 class="restaurant-name">
                                {{ seo.h1 }}
                            </h1>
                            <span class="restaurant-place">{{ restoraunt.full_address }}</span>
                        </div>
                        <div class="restaurant-description">
                            <div class="categories-icon">
                                <a href="#!" id="liveToastBtn">
                                    <i class="ri-share-line icon text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner section end -->

    <!-- text section start -->
    <section>
        <div class="container" style="color: rgba(var(--dark-text), 1);">
            {{ seo.text|safe }}
        </div>
    </section>
    <!-- text section end -->

    <!-- links section starts -->
    <section style="padding: 0;">
        <div class="container">
            <div class="button-container">
                {% for button in buttons %}
                {% include "food/components/link-button.html" with button=button %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- links section end -->

    <!-- tab section starts -->
    <section class="tab-details-section section-b-space" style="padding-top: 0;">
        <div class="container">
            <div class="category-detail-tab">
                <div class="row g-4">
                    <div class="col-lg-9">
                        <div class="menu-button d-inline-block d-lg-none">
                            <a href="#!"><i class="ri-book-open-line"></i> Меню</a>
                        </div>
                        <div class="tab-content product-details-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="online" role="tabpanel" tabindex="0">
                                <div class="row g-lg-3 g-2">
                                    <div class="col-lg-4">
                                        <div class="product-sidebar sticky-top">
                                            <nav id="navbar" class="product-items pb-0"style="color: rgba(var(--dark-text), 1);">
                                                <ul class="nav nav-pills">
                                                    {% for dish_category in dish_categories %}
                                                        <li data-id="{{dish_category.id}}" onclick="selectFoodCategory(this, '{{dish_category.name }}')">
                                                            <h2 style="cursor: pointer; font-size: calc(13px + 6*(100vw - 320px) / 1600); font-weight: normal; color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));">{{ dish_category.name }}</h2>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="product-box-section section-b-space">
                                            <div data-bs-spy="scroll" data-bs-target="#navbar"
                                                data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                                                {% include "food/restoraunt-content.html" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tab section end -->

    <!-- footer section starts -->
    {% include "food/components/footer.html" %}
    <!-- footer section end -->

    <!-- toast starts -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex bg-theme text-white">
                <div class="toast-body">Ссылка скопирована</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
            </div>
        </div>
    </div>
    <!-- toast end -->

    <!-- Bg Overlay Start -->
    <div class="bg-overlay" id="overlay"></div>
    <!-- Bg Overlay end -->

    <!-- theme btn start -->
    <div class="theme-btns">
        <button type="button" class="btntheme mode-change-button">
            <i id="themeIcon" class="ri-moon-line icon mode-icon"></i>
            <span class="text-value">Тёмная тема</span>
        </button>
    </div>
    <!-- theme btn end -->

    <!-- tap to top start -->
    <button class="scroll scroll-to-top menu-page">
        <i class="ri-arrow-up-s-line arrow"></i>
    </button>
    <!-- tap to top end -->

    <!-- bootstrap js -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <!-- swiper js -->
    <script src="/assets/js/swiper-bundle.min.js"></script>
    <script src="/assets/js/custom-swiper.js"></script>

    <!-- footer accordion js -->
    <script src="/assets/js/footer-accordion.js"></script>

    <!-- menu button js -->
    <script src="/assets/js/menu-button.js"></script>

    <!-- fancybox js -->
    <script src="/assets/js/fancybox.js"></script>

    <!-- toast js -->
    <script src="/assets/js/toast.js"></script>

    <!-- script js -->
    <script src="/assets/js/script.js"></script>
    <script src="{% static 'food/js/restoraunt-page.js' %}"></script>
</body>

{% endblock %}