<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="vertical-product-box">
        <div class="vertical-product-box-img">
            <a href="/{{ restoraunt.city.slug }}/place/{{ restoraunt.slug }}/">
                <img class="product-img-top w-100 bg-img" src="{{ restoraunt.image_link }}"
                    alt="vp1">
            </a>
        </div>
        <div class="vertical-product-body">
            <div class="d-flex align-items-center justify-content-between mt-sm-3 mt-2">
                <a href="/{{ restoraunt.city.slug }}/place/{{ restoraunt.slug }}/">
                    <p class="vertical-product-title">{{ restoraunt.name }}</p>
                </a>
                <p class="rating-star">
                    <span class="star"><i class="ri-star-s-fill"></i></span>{{ restoraunt.rating }}
                </p>
            </div>
            <p class="product-items">
                Минимальный заказ: {{ restoraunt.min_order }}
            </p>
            <p class="product-items">
                Ценовая категория: {{ restoraunt.price_category }}
            </p>
            <div
                class="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2">
                <p class="place">{{ restoraunt.address }}</p>
            </div>
        </div>
    </div>
</div>
