<footer class="footer-section section-t-space">
    <div class="container">
        <div class="main-footer" style="padding-top: 0px;">
            <ul>
                {% for city in footer_cities %}
                    <li style="margin: 3px 20px;"><a style="text-decoration: none; color: white; font-size: calc(14px + 2*(100vw - 320px) / 1600);" href="/{{ city.slug }}/">Доставка продуктов в {{ city.genitive_case }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="bottom-footer-part">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                <h6>© 2024 Реклама. Информация о рекламодателе по ссылкам в статье. Обратная связь: info@eda-dostavka.com</h6>
            </div>
        </div>
    </div>
</footer>
