{% load static %}

<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg p-0">
            <a href="/" style="align-items: center;
    display: flex;
    gap: 15px;">
                <img class="img-fluid logo" src="{% static 'food/images/logo.png' %}" alt="logo">
                <p style="color: white;
    font-style: italic;
    font-weight: 800;
    font-size: calc(20px + 6*(100vw - 320px) / 1600);">eda-dostavka<span style="color: rgba(var(--theme-color), 1) !important;">.</span>com</p>
            </a>
        </nav>
    </div>
</header>
