body{
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    height: 100%;
    color: #212121;
    font: 16px inter,sans-serif;
    line-height: 1.4;
    background: #f2f2f2;
    font-family: "Arial", "Helvetica", sans-serif;  
}

ul{
    color: #212121;
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li{
    list-style: none;
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin-bottom: 8px;
    width: 32.5%;
    color: black;
}

a.c-list__link{
    list-style: none;
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    color: #3757c5;
    cursor: pointer;
    transition: 250ms;
    display: flex;
    text-decoration: none;
}
nav{
    color: #212121;
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background: #fff;
    height: 86px;
    box-shadow: inset 0 -2px 2px -2px rgba(0,0,0,.15);
    display: block;
}
div.l-main__content{
    color: #212121;
    appearance: none;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    max-width: 1096px;
    min-width: 266px;
    margin: 0 auto;
    width: 728px;
    justify-content: space-between;
    padding-top: 18px;
}
div.l-header__line-item{
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 300;
}
a.l-header__logo{
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    cursor: pointer;
    transition: 250ms;
    align-items: center;
    color: #212121;
    display: block;
    font-size: 14px;
    line-height: 1;
    margin-right: 24px;
    text-decoration: none;
}
div.l-header__logo-text{
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: #212121;
    line-height: 1;
}
.l-header__logo-text div:first-of-type b {
    font-weight: 700;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    color: #3757c5;
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-weight: 700;
}
.l-main{
    color: #212121;
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.l-main__box{
    --ad-label-top-offset: 34px !important;
    --safe-area-inset-top: env(safe-area-inset-top,0) !important;
    --safe-area-inset-right: env(safe-area-inset-right,0) !important;
    --safe-area-inset-bottom: env(safe-area-inset-bottom,0) !important;
    --safe-area-inset-left: env(safe-area-inset-left,0) !important;
    color: #212121;
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.l-main__main{
    --ad-label-top-offset: 34px !important;
    --safe-area-inset-top: env(safe-area-inset-top,0) !important;
    --safe-area-inset-right: env(safe-area-inset-right,0) !important;
    --safe-area-inset-bottom: env(safe-area-inset-bottom,0) !important;
    --safe-area-inset-left: env(safe-area-inset-left,0) !important;
    color: #212121;
    font: inherit;
    appearance: none;
    box-sizing: border-box;
    margin-top: 25px;
}

.l-article__h-text{
    color: #222;
    font-size: 16px;
    margin-top: 15px;
}

.l-article__btn{
    border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    margin: 8px 5px 0 0;
    text-align: center;
    text-decoration: none;
    background: #fff;
    color: #212121;
    flex: 1 0 auto;
    white-space: nowrap;
}

.l-article__btn--small{
    font-size: 15px;
    padding: 7px 13px;
    border: 1px solid #dcdfe3;
}

.c-list-cards__item{
    margin-bottom: 10px;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    background: #fff;
}

.c-list-cards__link{
    text-decoration: none;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
}

.c-list-cards__img{
    background: #ccc center no-repeat;
    background-size: cover;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-sizing: content-box;
    display: block;
    flex-shrink: 0;
    height: 139px;
    margin-right: 15px;
    width: 161px;
}

.c-list-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-list-cards__img {
    background: #ccc center no-repeat;
    background-size: cover;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-sizing: content-box;
    display: block;
    flex-shrink: 0;
    height: 139px;
    margin-right: 15px;
    width: 161px;
}

.c-list-cards__link{
    display: grid;
    grid-template-columns: 25% 65%;
}

.c-list-cards__header{
    font-size: 20px;
    margin-top: 12px;
    font-weight: 600;
    text-shadow: 0 0 1px rgb(51 51 51 / 50%);
}

.c-list-cards__line {
    display: block;
    margin-top: 5px;
    color: #212121;
    max-height: 50px;
    overflow: hidden;
}

.c-list-cards__line--gray{
    color: #404040;
}

.c-list-cards__line--gray b {
    color: #3757c5;
    font-weight: 700;
    font-size: 14px;
}