.hints .hint{
    background: white;
    width: 100%;
    padding: 7px 10px;
    text-align: left;
}

.hints .hint a{
    cursor: pointer;
    color: black;
    transition: .2;
}

.hints .hint a:hover{
    opacity: .5;
}

.hints{
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    z-index: 3;
    box-shadow: 0 15px 60px -20px rgba(0, 0, 0, 0.1);
}
