.link-button{
    padding: 6px 10px;
    border: none;
    width: 280px;
    border-radius: 8px;
}

.link-button a{
    color: white;
    text-decoration: none;
    font-size: calc(15px + 2*(100vw - 320px) / 1600);
}

.image-container{
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img{
    width: 60%;
    height: 60%;
    opacity: .7;
}

.button-container {
    position: relative;
    opacity: 0;
}

.sticky {
    position: fixed;
    opacity: 1;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}